@import url("https://use.typekit.net/mee5nvp.css");
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

html {
    margin:    0 auto;
    max-width: 1600px;
}


/* General Styles */
body {
    margin: 0;
    background-color: #F4F4F2;
    transition: background-color 0.3s, color 0.3s;
}

button#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.75);
}

body.dark-mode h1 {
    color:white;
}

body.dark-mode nav a, 
body.dark-mode p, 
body.dark-mode p.gray, 
body.dark-mode .accordion, 
body.dark-mode .container, 
body.dark-mode h2, 
body.dark-mode .top-right, 
body.dark-mode .container a {
    color: rgba(255, 255, 255, 0.75);
}


body.dark-mode .container a {
    border-top: 0.5px solid #7B7B7B;
}

body.dark-mode .project-item1,
body.dark-mode .project-item2,
body.dark-mode .project-item3,
body.dark-mode .project-item4 {
    background-color:#313131;
}


body.dark-mode .about-details {
    border-top: 0.5px solid #7B7B7B;
}

body.dark-mode .container {
    border-bottom: 0.5px solid #7B7B7B;
}


/* Hover underline animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #3e3e3e;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #3e3e3e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

body.dark-mode .hover-underline-animation {
    color: rgba(255, 255, 255, 0.75);
}

body.dark-mode .left-nav a {
    color:#377EF7;
}

body.dark-mode .hover-underline-animation:after {
    background-color: rgba(255, 255, 255, 0.75);
}

/* Main content */
.main {
    padding: 0rem 5rem;
}

.about-details {
    border-top:0.5px solid #3e3e3e;
    justify-content: space-between;
    font-family: "Instrument Sans", sans-serif;
    padding: 4rem 5rem 4rem 5rem;
}

.about-details p {
    max-width: 700px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 0;
  }
  
  .project-item1, .project-item2, .project-item3, .project-item4 {
    background-color: #E5E5E5;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this line to make project-item relative */
  }
  
  .project-item1 .project-text, .project-item2 .project-text, .project-item3 .project-text, .project-item4 .project-text {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  
  .project-item1 img, .project-item2 img, .project-item3 img, .project-item4 img {
    object-fit: cover;
    max-height: 60%;
    max-width: 60%;
  }

  .low-op {
    opacity:50%;
  }

.column {
    justify-self: start;
}

/* Navigation */


nav a {
    font-family: 'Instrument Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .95rem;
    color: #3E3E3E;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: .9rem;
}

nav button {
    background-color: transparent;
    border: none;
}

.navigation div {
    padding: 1.2rem 0rem 1.2rem 3rem;
    display: inline;
    float: right;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    padding:0 !important;
}

.left-nav a {
    color:#377EF7;
}

.left-nav :hover {
    text-decoration:underline;
}

.right-nav {
    display: flex;
}

/* Typography */
h1 {
    font-family: "Instrument Serif", serif;
    color: #3E3E3E;
    font-size: 4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
}

#seattle {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

#seattle:hover::after {
    content: url(../images/seattle-rain.gif);
    display: block;
    position: absolute;
    top: 100%; /* Position the image below the text */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10; /* Ensure this value is higher than other elements */

}

#cats {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

#cats:hover::after {
    content: url(../images/cats.gif);
    display: block;
    position: absolute;
    top: 100%; /* Position the image below the text */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10; /* Ensure this value is higher than other elements */
}

.italic-blue {
    font-family: "Instrument Serif", serif;
    color: #377EF7;
    text-decoration:none;
}

h2 {
    font-family: "Instrument Serif", serif;
    color: #3E3E3E;
    font-size: 3rem;
    font-weight: 400;
    line-height:100%;
    margin: 0 0 2rem 0;
}

p {
    font-family: "Instrument Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #3E3E3E;
    margin: 0;
    font-size: .9rem;
}

p a {
    color: #377EF7;
    text-decoration: none;
}

#intro {
    padding:2rem 0 4rem 0;
    margin:0;
}

.locked {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
}

/* Accordion and Container */
.container {
    padding-top: 7rem;
    border-bottom: 0.5px solid #3e3e3e;
}


.grid-item1 {
    flex: 1.5; 
    text-align: left;
}

.grid-item2 {
    flex: 5; 
    text-align: left; 
}

.grid-item3 {
    flex: 2; 
    text-align: left; 
}

.container a {
    cursor: pointer;
    border-top:.5px solid #3e3e3e;
    width: 100%;
    font-family: "Instrument Sans", sans-serif;
    font-size: .9rem;
    color:#3E3E3E;
    display:flex;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
}

::selection {
    background-color: #377EF7;
    color: white;
}

/* Footer */
footer {
    margin-top: 10rem;
}

footer div {
    display: flex;
    flex-direction: row;
}


/* Project page styling */


.project-container {
    padding-top:3rem;
    display: flex;
    width:100%;
    gap:4rem;
}

.sidebar {
    flex:1; /* Adjust the width as needed */
    box-sizing: border-box;
}

.image-panel {
    flex: 1.75;
    box-sizing: border-box;
    overflow-y: auto;
}

.content img {
    width: 100%;
    padding-bottom:3rem;
}

.content {
    max-width:100%;
}

.project {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.mobile {
    display:none;
}

/* Mobile Styles */
@media (max-width: 1400px) {
    .grid-item3 {
        display:none;
    }

    .column p{
        display:none;
    }

    .about-details {
        gap:3rem;
    }
    .sidebar {
        flex:1; /* Adjust the width as needed */
    }

    .project-container {
        gap:2rem;
    }
    
    .image-panel {
        flex: 1;
    }


}


@media (max-width: 1200px) {
    .main {
        padding:0 3rem;
    }
    
    h1 {
        font-size:3rem;
    }

    p {
        font-size:.9rem;
    }

    nav a {
        font-size:.9rem;
    }

    .container a {
        font-size:.9rem;
    }

    .about-details {
        padding:2rem 3rem;
        flex-direction:column;
    }

    .about-details p {
        max-width:100%;
    }

    .column {
        display:none;
    }

    

}

@media (max-width: 760px) {

    .project-container {
        flex-direction:column;
    }

    .desktop {
        display:none;
    }

    .mobile {
        display:block;
    }

    #intro {
        padding:1.5rem 0 1.5rem 0;
    }
    .navigation div {
        padding-left:2rem;
    }
    .main {
        padding:0 2rem;
    }

    .project-grid {
        gap:1.5rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item1 {
        display:none;
    }

    .about-details {
        padding: 3rem 2rem;
    }

    .column {
        display:none;
    }
    
}

@media (max-width: 500px) {

    .container {
        padding-top:3rem;
    }

    #intro {
        padding:0;
    }

    .project-container {
        padding-top:0;
    }

    .grid-item1 {
        display:block;
    }

    .grid-item2 {
        display:none;
    }

    .main {
        padding:0 1.5rem;
    }

    h1 {
        font-size:2.5rem;
    }

    .about-details {
        padding:2rem 1.5rem;
    }

    .navigation div {
        padding-left:1rem;
        padding-top:1rem;
    }

    footer {
        margin-top:6rem;
    }

}