@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=IBM+Plex+Serif:wght@300&display=swap');
p {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #F2F2F2;
    margin:0;
    color:#262626;
    transition: background-color 0.5s;
}
.dark-mode {
    background-color: #262626;
    color: #F2F2F2;
  }

.dark-mode a {
        text-decoration: none;
        color: #f2f2f2;
}

.dark-mode footer{
    background-color: #f2f2f2;
}

.dark-mode button {
    border:none;
    background-color:transparent;
    color:#F2F2F2;
}

.dark-mode hr {
    color: #7e7e7e;
}

a {
    text-decoration: none;
    color: #262626;
    transition: 0.4s;
}

a:hover {
    border-bottom: 3px solid;
}

button {
    border: none;
    background-color:transparent;
  }

.navigation {
    font-family: 'IBM Plex Sans', sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 1% 4% 1% 4%;
    font-size:1.1rem;
}

.about {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    flex-wrap:wrap;
}

.about-text {
    margin-top:3%;
    max-width: 600px;
}

hr {
    width: 100%;
    border:0.5px solid;
    color:#afafaf;
}

h1 {
    margin: 3% 4% 10% 4%;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    font-size: 3rem;
    max-width: 1000px;
    line-height: 115%;
}

h2 {
    margin: 3% 0% 2% 4%;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    font-size: 2rem;
    width: 70%;
    line-height: 130%;
}

.projects {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1% 4% 1% 4%;
}

.tiles {
    margin-bottom: 7%;
}

.tiles img {
    transition: transform .2s ease-in-out;
}

.tiles img:hover {
    transform:scale(1.05);
}

.tile-text {
    margin-top: 5px;
    max-width: 650px;
}

img {
    height: 400px;
    width: 650px;
    border-radius: 15pt;
}

p {
    line-height: 150%;
    font-size:1.1rem;
}

footer {
    background-color: #262626;
    height: 400px;
    margin-top: 7%;
}