@import url("https://use.typekit.net/mee5nvp.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:wght@100..900&display=swap');
body {
    margin: 0rem;
    background-color: white;
}

.main {
    padding: 0rem 9rem 0rem 9rem;
}

nav button {
    background-color:transparent;
    border:none;
}

h1 {
    font-family: source-serif-pro, serif;
    color: #3E3E3E;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    max-width: 950px;
}

.gray {
    color:#3E3E3E75;
    line-height:100%;
}

#project-title {
    margin-top:5rem;
}

.project-details {
    display:flex;
    flex-direction:row;
    max-width: 950px;
    justify-content: space-between;
}

.project-section {
    display:flex;
    flex-direction:row;
    padding: 3rem 0rem 3rem 0rem;
    justify-content: flex-end; /* Aligns items to the start (left) */
    gap:5em;
}

.project-section-2 {
    display:flex;
    padding: 3rem 0rem 3rem 0rem;
}

.project-section-2 img {
    width:100%;
    object-fit: cover;

}

.project-section-2 video {
    width:100%;
    height: 800px;
    background-color:#03131B;
    padding:80px 0;
}

.project-section p {
    margin:0px;
}

.project-section img {
    height:auto;
    width:50%;
    object-fit: cover;

}

h2 {
    font-family: Inter, sans serif;
    color: #3e3e3e75;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom:0.75rem;
    max-width: 65%;
}

.accordion {
    cursor: pointer;
    border-top:1px solid #3e3e3e40;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color:#3E3E3E;
    display:flex;
    padding: 20px 0px 20px 0px;
}

.container {
    border-bottom: 1px solid #3e3e3e40;
}

.grid-item1 {
    flex: 1.5; 
    text-align: left;
}

.project-copy {
    display:flex;
    flex-direction:column;
}


.grid-item2 {
    flex: 5; 
    text-align: left; 
}

.grid-item3 {
    flex: 2; 
    text-align: left; 
}
.carrot {
    flex:1;
    text-align: right;
    align-self:center;
}

.carrot img {
    transition: transform 0.4s; /* Smooth transition */
}

.accordion.active .carrot img {
    transform: rotate(45deg); /* Rotate when active */
}

/* Existing CSS */
.panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    display: flex; /* Add this line */
    flex-direction: row; /* This can be adjusted based on your layout needs */
    justify-content: space-between;
    gap:5rem;
}

.panel img {
    flex:5;
    max-width:48%;
    object-fit: cover;
    height:100%;
}

.accordion.active + .panel {
    max-height: 500px; /* Adjust this to the maximum height of your content */
    padding: 30px 0px 60px 0px; /* Maintain padding */
}


p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight:400;
    line-height: 150%;
    color: #3E3E3E;
}

#intro {
    padding-top: 3rem;
}

.italic-blue {
    font-family: source-serif-pro, serif;
    color: #377EF7;
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    line-height: 120%;
    max-width: 20em;
    text-decoration:none;
}

.italic-blue:hover {
    font-style: normal;
}

.navigation div {
    padding: 2rem 0rem 2rem 2rem;
    display:inline;
    float:right;
    align-items:center;
}

a:hover {
    position: relative;
}

.confidential-container {
    position: relative;
    text-align: center;
    color: white;
  }

/* Top right text */
.top-right {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight:400;
    font-size: .9rem;
    color: white;
    background-color: #3E3E3E30;
    padding: .5em 1em .5em 1em;
    border-radius: .5rem;
  }

#seattle {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

#seattle:hover::after {
    content: url(../images/seattle-rain.gif);
    display: block;
    position: absolute;
    top: 100%; /* Position the image below the text */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10; /* Ensure this value is higher than other elements */

}

#cats {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

#cats:hover::after {
    content: url(../images/cats.gif);
    display: block;
    position: absolute;
    top: 100%; /* Position the image below the text */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10; /* Ensure this value is higher than other elements */
}

nav a {
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight:400;
    font-size: .9rem;
    color: #3E3E3E;
    text-decoration: none;
    background-color: #F2F2F2;
    padding: .5em 1em .5em 1em;
    border-radius: .5rem;
}

nav a:hover {
    background-color: #377EF7;
    color:white;
    transition-duration: .5s;
}

nav {
    height: 3rem;
}

.tiles {
    max-width: 48%;
    padding: 3rem 0rem 0rem 0rem;
    padding-bottom: 2rem;

}

.tiles img {
    max-width: 100%;
    cursor:pointer;
    margin-bottom:3px;
}

.tile-text {
    padding:7px 0;
}

.tiles img:hover{
    max-width: 100%;
    cursor:pointer;
    opacity:85%;
}

.projects {
    padding: 2rem 0rem 6rem 0rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer {
    margin-top:10rem;

}

.ticker-wrap {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    height: 3rem;
    background-color: #377EF7;
  }
  .ticker {
    display: inline-block;
    margin-top: 15px;
    animation: marquee 20s linear infinite;
  }
  .item-collection-1 {
    position: relative;
    left: 0%;
    animation: swap 20s linear infinite;
  }
  
  .item {
    display: inline-block;
    padding: 0 1rem;
    font-size: .8rem;
    color: #FFFEF9;
    font-weight: 400;
    font-family: 'DM Sans', monospace;
  }
  
  /* Transition */
  @keyframes marquee {
    0% {
      transform: translateX(0)
    }
    100% {
      transform: translateX(-100%)
    }
  }
  
  @keyframes swap {
    0%, 50% {
      left: 0%;
    }
    50.01%,
    100% {
      left: 100%;
    }
  }

  .scroll {
        overflow: auto;
        white-space: nowrap;
  }
  







  @media (max-width: 1000px) {


    .main {
        padding: 0rem 3rem;
    }

    h1 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        max-width: 700px;

    }

    #seattle {
        font-size: 2.5rem;
    }

    #cats {
        font-size: 2.5rem;
    }

    .grid-item3 {
        display:none;
    }

    .project-section {
        padding: 5rem 0;
    }
    .project-section-2 {
        padding: 5rem 0;
    }
  }


  @media (max-width: 760px) {

    .main {
        padding: 0rem 3rem 0rem 3rem;   
    }
    h1 {
        font-size: 2.2rem;
    }

    .projects {
        padding: 3rem 0rem;
    }
    .tiles {
        max-width:100%;
        padding-top: 0rem;
    }

    #seattle {
        font-size: 2.2rem;
    }
    #cats {
        font-size: 2.2rem;
    }

    footer {
        margin-top:0rem;
    }
    nav {
        height: 3rem;
    }

    .navigation div {
        float:left;
        padding:2rem 1rem 2rem 0rem;
    }
    .tiles {
        padding-bottom: 3rem;
    }
    
    .panel {
        flex-direction:column;
    }

    .panel img {
        max-width:100%;
    }
    .project-section {
        flex-direction:column;
    }
    .container {
        margin-bottom:6rem;
    }
    .grid-item1 {
        display:none;
    }
    .grid-item3 {
        display:none;
    }
    .project-section img {
        width:100%;
    }

    .project-details {
        display:none;
    }
    #project-title{
        margin-bottom:0;
    }
    .accordion.active + .panel {
        max-height: 400px; /* Adjust this to the maximum height of your content */
        padding: 0px 0px 30px 0px; /* Maintain padding */
    }
    .panel {
        gap:.5rem;
    }
  }



  @media (max-width: 500px) {
    .main {
        padding: 0rem 1rem; 
    }
    h1 {
        font-size:2rem;
    }

    #intro {
        font-size: 2rem;
        padding:1rem 0rem;;
    }
    
    nav {
        padding:1rem 0rem;
        
    }

    .container {
        padding:0rem;
    }

    .grid-item2{
        display:none;
    }

    .grid-item3{
        display:none;
    }

    .grid-item1{
        display:block;
    }

    .projects {
        padding: 2rem 0rem;
    }

    .tiles {
        max-width:100%;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }

    #seattle {
        font-size: 2rem;
    }
    #cats {
        font-size: 2rem;
    }
    footer {
        margin-top:0rem;
    }
    .navigation div {
        float:left;
        padding:1rem 1rem 0rem 0rem;
        
    }

    .project-details{
        margin:2rem 0rem;
    }

    .project-section {
        padding:2rem 0rem;
        gap:2rem;
    }

    .project-section-2{
        padding:2rem 0rem;

    }

    .project-section img {
        width:100%;
        object-fit: cover;
    }

    .accordion {
        font-size:14px;

    }

    p {
        font-size:14px;
    }
    .top-right{
        font-size:12px;
    }
    #project-title{
        margin:2rem 0rem 0 0rem;
        
    }
    h2 {
        font-size: 1.2rem;

    }

  }